---
import { getVehicles } from '../database/config';
import AsideItem from "@/components/AsideItem.jsx"
import SheetItem from "@/components/SheetItem.jsx"
import MyBreadcrumbs from "@/components/MyBreadcrumbs.jsx"
import MySearchBar from "@/components/MySearchBar.jsx"
import UserMenu from "@/components/UserMenu.jsx"
import MyTabs from "@/components/MyTabs.jsx"

import {
  Home,
} from "lucide-react"


export const description =
  "An products dashboard with a sidebar navigation. The sidebar has icon navigation. The content area has a breadcrumb and search in the header. It displays a list of products in a table with actions."


import '@/styles/globals.css'
import Layout from '@/layouts/Layout.astro';

const vehicles = await getVehicles(1)
console.log({vehicles})
---
	<Layout title='Main page'>
		<div class="flex min-h-screen w-full flex-col bg-muted/40">
		  <aside class="fixed inset-y-0 left-0 z-10 hidden w-14 flex-col border-r bg-background sm:flex">
			<nav class="flex flex-col items-center gap-4 px-2 py-4">
			  <a
				href="#"
				class="group flex h-9 w-9 shrink-0 items-center justify-center gap-2 rounded-full bg-primary text-lg font-semibold text-primary-foreground md:h-8 md:w-8 md:text-base"
			  >
				<Home className="h-4 w-4 transition-all group-hover:scale-110" />
				<span class="sr-only">Lavadero</span>
			  </a>
		
			<AsideItem text='Lavados' icon='washes' client:visible/>
			<AsideItem text='Servicios' icon='services' client:visible/>
			<AsideItem text='Clientes' icon='clients' client:visible/>
			<AsideItem text='Informes' icon='dashboard' client:visible/>
			</nav>
			<nav class="mt-auto flex flex-col items-center gap-4 px-2 py-4">
				<AsideItem text='Configuración' icon='settings' client:visible/>
	
		  </aside>
		  <div class="flex flex-col sm:gap-4 sm:py-4 sm:pl-14" style="width: 100% !important;">
			<header class="sticky top-0 z-30 flex h-14 items-center gap-4 border-b bg-background px-4 sm:static sm:h-auto sm:border-0 sm:bg-transparent sm:px-6">
			  <SheetItem client:load/>
			  <MyBreadcrumbs client:load/>
			  <MySearchBar client:load />
			  <UserMenu client:load />
			</header>
			<main class="grid flex-1 items-start gap-4 p-4 sm:px-6 sm:py-0 md:gap-8 w-full" style="width: 100% !important;">
				<MyTabs client:load/>
			</main>	
		  </div>
		</div>
	</Layout>


<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
