---
import {
  Table,
  TableBody,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from "./ui/table";

import { actions } from "astro:actions";
import MyDropdown from "./MyDropdown";
import {
  Card,
  CardContent,
  CardFooter,
  CardHeader,
  CardTitle,
} from "./ui/card";

import { BrandFormDialog } from "@/components/BrandFormDialog";

const { data, error } = await actions.getBrands({});
let brands;
if (data) {
  brands = data.data;
}
console.log({ brands });
---

<Card x-chunk="dashboard-06-chunk-0">
  <CardHeader className="pb-2">
    <div class="flex justify-between">
      <CardTitle>Marcas</CardTitle>
      <BrandFormDialog client:load />
    </div>
  </CardHeader>
  <CardContent
    ><Table>
      <TableHeader>
        <TableRow>
          <TableHead>Denominación</TableHead>
          <TableHead>
            <span class="sr-only">Acciones</span>
          </TableHead>
        </TableRow>
      </TableHeader>
      <TableBody>
        {
          brands?.map((b) => (
            <TableRow>
              <TableCell className="font-medium w-48">{b.name}</TableCell>
              <TableCell>
                <MyDropdown client:load />
              </TableCell>
            </TableRow>
          ))
        }
      </TableBody>
    </Table></CardContent
  >
  <CardFooter>
    <div class="text-xs text-muted-foreground">
      Showing <strong>1-10</strong> of <strong>32</strong> brands
    </div>
  </CardFooter>
</Card>
