---

import { Badge } from "./ui/badge";
import { Table, TableBody, TableCell, TableHead, TableHeader, TableRow } from "./ui/table";

import { actions } from "astro:actions";
import MyDropdown from "./MyDropdown";

const {data, error} = await actions.getSales()
let sales
if(data) {
  sales = data.data
}

---

          <Table>
              <TableHeader>
                <TableRow>
                  <TableHead className="hidden w-[100px] sm:table-cell">
                    <span class="sr-only">Imagen</span>
                  </TableHead>
                  <TableHead>Fecha creación</TableHead>
                  <TableHead className="flex-auto">Monto</TableHead>
                  <TableHead>
                    <span class="sr-only">Acciones</span>
                  </TableHead>
                </TableRow>
              </TableHeader>
              <TableBody>
                {sales?.map((s) => (
                  <TableRow>
                    <TableCell className="hidden sm:table-cell">
                      <img
                        alt="Product"
                        class="aspect-square rounded-md object-cover"
                        height="64"
                        src="/user.png"
                        width="64"
                      />
                    </TableCell>
                    <TableCell className="font-medium">
                      {s.created_at}
                    </TableCell>
                    <TableCell>
                      <Badge variant="outline">{s.total_amount}</Badge>
                    </TableCell>
                    <TableCell>
                      <MyDropdown client:load/>
                    </TableCell>
                  </TableRow>
                ))}

              </TableBody>
            </Table>