---
import {
  Table,
  TableBody,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from "./ui/table";

import { actions } from "astro:actions";
import MyDropdown from "./MyDropdown";
import {
  Card,
  CardContent,
  CardFooter,
  CardHeader,
  CardTitle,
} from "./ui/card";
import { SaleFormDialog } from "./SaleFormDialog";

const { data, error } = await actions.getSales();
let sales;
if (data) {
  sales = data.data;
}
console.log({ sales });
---

<Card x-chunk="dashboard-06-chunk-0">
  <CardHeader className="pb-2">
    <div class="flex justify-between">
      <CardTitle>Ventas</CardTitle>
      <SaleFormDialog client:load />
    </div>
  </CardHeader>
  <CardContent>
    <Table>
      <TableHeader>
        <TableRow>
          <TableHead>Cliente</TableHead>
          <TableHead>Vehículo</TableHead>
          <TableHead className="flex-auto">Monto</TableHead>
          <TableHead>
            <span class="sr-only">Acciones</span>
          </TableHead>
        </TableRow>
      </TableHeader>
      <TableBody>
        {
          sales?.map((s) => (
            <TableRow>
              <TableCell className="font-medium w-48">
                {`${s.user.firstname} ${s.user.lastname}`}
              </TableCell>
              <TableCell className="font-medium w-48">
                {`${s.vehicle.brand.toUpperCase()} - ${s.vehicle.model}`}
              </TableCell>
              <TableCell className="w-48">
                {Intl.NumberFormat("es-AR", {
                  style: "currency",
                  currency: "ARS",
                  maximumFractionDigits: 0,
                }).format(s.total_amount)}
              </TableCell>
              <TableCell>
                <MyDropdown client:load />
              </TableCell>
            </TableRow>
          ))
        }
      </TableBody>
    </Table></CardContent
  >
  <CardFooter>
    <div class="text-xs text-muted-foreground">
      Showing <strong>1-10</strong> of <strong>32</strong> products
    </div>
  </CardFooter>
</Card>
