---
import {
  Card,
  CardContent,
  CardFooter,
  CardHeader,
  CardTitle,
} from "./ui/card";
import { UserFormDialog } from "./UserFormDialog";
import UserTableBody from "./UserCard";
import UserCard from "./UserCard";
---

<Card x-chunk="dashboard-06-chunk-0">
  <UserCard client:load />
  <CardFooter>
    <div class="text-xs text-muted-foreground">
      Showing <strong>1-10</strong> of <strong>32</strong> products
    </div>
  </CardFooter>
</Card>
